*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#01012e, #240019);
    height: 100vh;
    font-family: sans-serif;
}
section{
    background: url(stars.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    text-align: center;
}
ul:hover li a{
    opacity: 0;
}
ul li {
    list-style: none;
    margin: 50px 0;
}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500px;
    letter-spacing: 4px;
    background: darkblue;
    padding: 6px 15px; 
    border-radius: 20px;
    display: inline-block;
    text-transform: uppercase;
    width: 200px;
    transition: 0.5s;
}
ul li a:hover{
    transform: scale(1.5);
    background: darkmagenta;
    opacity: 1;
}